@{
    ViewBag.Title = "changePasswordResult";
    Layout = "~/Views/Shared/_Layout.cshtml";
                    //string pageDegarde = "~";

                    /**
                     * viewBag.STATUT = true ==> changement est ok
                     * viewBag.STATUT = false ==> changement n'est pas ok
                     * **/
}
<div style="text-align: center">
    <div class="container-fluid" style="margin-left: auto; margin-right: auto; margin-top: 20px; width: 600px">
        <h2>Changement de mot de passe</h2>
        <div class="well form-inline">
            <em>
                @{
                    if (ViewBag.STATUT)
                    {
                    @: La modification de votre mot de passe a bien été prise en compte.<br />
                    @: Vous allez etre redirigé dans quelques secondes.<br />
                    @: <a href="/">Si votre navigateur ne vous redirige pas veuillez cliquer ici</a>
                    @: <script type="text/javascript">
@: setTimeout("redirect()", 6000);
                                                              @: </script>
                            
                    }
                    else
                    {
                    @: La modification de votre mot de passe a echoué.<br />
                    @: <a href="/Profil/index"> Réessayer </a>.<br />
                    @: <a href="/Home/Index">Page d'accueil</a>
        }
                }

            </em>
        </div>
    </div>
</div>

    <script type="text/javascript">
        function redirect() {
            window.location = "/"
        }
    </script>
