<div id="container">

    <div class="page-header">
        <div id="alert_1">
            <img src="~/images/file.png" alt="User" />
        </div>
        <br />
        <h1>Mes reservations</h1>
    </div>
    <div class="row">
        <div class="container-fluid" id="hero-home" style="margin-bottom: 30px">
            <div class="row">
                <div class="span5 offset1">
                    <div class="hero-unit">
                        <h3>Visualisation de mes réservations</h3>
                        <p>Visualisation de mes différentes réservations effectuées</p>
                        <p>
                            <a href="/Reservation/MesReservations">
                                <input type="button"
                                    class="btn btn-inverse btn-large" value="En savoir plus">
                            </a>
                        </p>
                    </div>
                </div>
                <div class="span5 offset2">
                    <div class="hero-unit">
                        <h3>Demande de reservation</h3>
                        <p>
                            Permet de soumettre une demande de reservation à
								l'administration de Polytech'Montpellier
                        </p>
                        <p>
                            <a href="/Reservation/Ajouter">
                                <input type="button"
                                    class="btn btn-inverse btn-large" value="En savoir plus">
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
