@{
    ViewBag.Title = "Detaille";
    @model IEnumerable<ProjetAiopMVC.Models.SALLE>
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div id="container">
    <div class="page-header">
        <div id="alert_1">
            <img src="~/images/class-sear.png" alt="User" />
        </div>
        <br />
        <h1>Visualisation des salles</h1>
    </div>
    <div class="row">
        <div class="container-fluid">
            <div class="span5" style="margin-left: 45px; width: 33%">
                <div class="hero-unit" style="height: 305px">
                    <table style="width: 100%">
                        <tbody>
                            <tr style="height: 15px"></tr>
                            <tr>
                                <td>
                                    <img src="~/images/armo.png" style="width: 50px; height: 50px" alt="User" /></td>
                                <td>
                                    <h3>Sélectionner une salle</h3>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <ul style="height: 200px; background-size: 100% 100%; overflow: auto; border: 1px solid #000000; background-color: white">
                                        @{
                                            int i = 0;
                                            foreach (var item in Model)//Here Model is collection of SALLE
                                            {
                                                i++;
                                                if (i % 2 == 0)
                                                {
                                            <li style="margin-left: 5px">@Html.ActionLink(item.NUMERO_SALLE, "Detaille", new { search = item.ID_SALLE/* id=Model.PrimaryKey */ })</li>
                                         
                                                }
                                                else
                                                {
                                            <li style="margin-left: 5px; background-color: #F0F0F0">@Html.ActionLink(item.NUMERO_SALLE, "Detaille", new { search = item.ID_SALLE/* id=Model.PrimaryKey */ })</li>
                                      
                                                }
                                            }
                                        }
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>


            <div class="span6 offset1">
                <div class="hero-unit" style="height: 305px">
                    <table style="width: 100%;" >
                        <tbody>
                            <tr style=" height: 50px">
                                <td style="width: 33%;">
                                    <img src="~/images/armo3.png" style="width: 50px; height: 50px" alt="User" /></td>
                                <td>
                                    <h3>Informations de la salle</h3>
                                </td>
                            </tr>
                            <tr style="height: 35px">
                                <td>
                                    <h5>
                                        <b>Nom</b>
                                    </h5>
                                </td>
                                <td>
                                    @ViewBag.MY_NUMERO_SALLE
                                </td>

                            </tr>
                            <tr style="height: 45px">
                                <td>
                                    <h5>
                                        <b>Batiment</b>
                                    </h5>
                                </td>
                                <td>
                                    @ViewBag.MY_LIBELLE_BATIMENT
                                </td>

                            </tr>
                             <tr>
                                <td>
                                    <h5>
                                        <b>Caractéristique(s) :</b>
                                    </h5>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-striped" style="max-height: 150px; background-size: 100% 100%; overflow: auto; border: 1px solid #000000;">
                       
                         <tbody>
                            
                            @foreach (var car in (List<string>)ViewBag.MY_LIBELLE_CARS)
                            {
                                <tr>
                                    <td>
                                        @car

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="span2" id="hero-orga"
                style="margin-right: 45px; float: right; font-size: large;">
                <div id="commentWrapper" style="width: 150px">
                    <div id="comment" style="width: 150px">
                        <div class="breadcrumb-orga" style="width: 150px; height: 425px">
                            <div style="text-align: center">
                                <br />
                                <br />

                                <a class="btn btn-inverse btn-large activator2" id="activator" rel="popover"
                                    data-original-title="Ajouter une salle"
                                    data-content="Fenêtre d'ajout d'une salle"
                                    href="./Ajouter">
                                    <img src="~/images/class-plus.png" width="50" height="50" alt="edit-profil" />
                                </a>


                                <br />
                                <br />

                                <a class="btn btn-inverse btn-large activator2" id="activator2" rel="popover"
                                    data-original-title="Modifier une salle" data-content="Fenêtre de modification d'une salle d'une salle" href="./Modifier">
                                    <img src="~/images/class-mod.png" width="50" height="50" alt="edit-profil" />
                                </a>

                                <br />
                                <br />

                                <a class="btn btn-inverse btn-large activator2" href="./Supprimer" id="activator1"
                                    rel="popover" data-original-title="Supprimer la salle"
                                    data-content="Fenêtre de suppression d'une salle">
                                    <img src="~/images/class-delete.png" width="50" height="50" alt="edit-profil" />
                                </a>



                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

